<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ArtSky Webring | {{ title }}</title>

<meta name="description" content="{{ socCardDesc }}">

<meta property="og:title" content="ArtSky Webring | {{ title }}">
<meta property="og:type" content="{{ socCardType }}">
<meta property="og:url" content="https://artskywebring.neocities.org/{{ page.url }}">
<meta property="og:image" content="{{ socCardImg }}">
<meta property="og:image:alt" content="{{ socCardImgAlt }}">

<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="icon.png">

<link rel="manifest" href="site.webmanifest">
<meta name="theme-color" content="#fafafa">

<link rel="stylesheet" href="/src/css/style.min.css">
<link rel="stylesheet" href="/src/code/webring.min.css">

<script src="/src/js/luxon.min.js"></script>