---
layout: /layouts/main.njk
title: "Home"
---

Hello World.
<h2>Widget Code</h2>
<div class="code-block">
  <code>
<!-- htmlmin:ignore -->&lt;div id=&quot;artsky-webring&quot;&gt;
  &lt;!-- &lt;script type=&quot;text/javascript&quot; src=&quot;https://artskywebring.neocities.org/src/code/webring-variables.js&quot;&gt;&lt;/script&gt; --&gt;
  &lt;!-- &lt;script type=&quot;text/javascript&quot; src=&quot;https://artskywebring.neocities.org/src/code/webring-widget.js&quot;&gt;&lt;/script&gt; --&gt;
  &lt;script type=&quot;text/javascript&quot; src=&quot;http://localhost:8080/src/code/webring-variables.min.js&quot;&gt;&lt;/script&gt;
  &lt;script type=&quot;text/javascript&quot; src=&quot;http://localhost:8080/src/code/webring-widget.min.js&quot;&gt;&lt;/script&gt;
&lt;/div&gt;<!-- htmlmin:ignore -->
  </code>
</div>
<h2>Widget Style</h2>
<div class="code-block">
  <code>
<!-- htmlmin:ignore -->&lt;!-- &lt;link rel=&quot;stylesheet&quot; href=&quot;https://artskywebring.neocities.org/src/code/webring.min.css&quot;&gt; --&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;http://localhost:8080/src/code/webring.min.css&quot;&gt;<!-- htmlmin:ignore -->
  </code>
</div>
<div id="artsky-webring">
  <!-- <script type="text/javascript" src="https://artskywebring.neocities.org/src/code/webring-variables.js"></script> -->
  <!-- <script type="text/javascript" src="https://artskywebring.neocities.org/src/code/webring-widget.js"></script> -->
  <!-- <link rel="stylesheet" href="https://artskywebring.neocities.org/src/code/webring.min.css"> -->
  <script type="text/javascript"
          src="http://localhost:8080/src/code/webring-variables.min.js"></script>
  <script type="text/javascript"
          src="http://localhost:8080/src/code/webring-widget.min.js"></script>
</div>
